<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <% title = Application.get_env(:share, :title) %>
    <title><%= title %></title>
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="<%= title %>" />
    <meta property="og:url" content="<%= Application.get_env(:share, :url) %>" />
    <meta property="og:title" content="<%= title %>" />
    <meta property="og:description" content="<%= Application.get_env(:share, :description) %>">
    <meta property="og:image" content="<%= static_path(@conn, "/images/site.png") %>" />

    <meta property="fb:app_id" content="938652226234734" />

    <meta name="twitter:card" content="summary" />
  </head>
  <script>
    window.source = {
      title: "<%= Application.get_env(:share, :source)[:title] %>",
      url: "<%= Application.get_env(:share, :source)[:url] %>"
    }
  </script>
  <body>
    <div class="container">
      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>

      <main role="main">
      <%= render @view_module, @view_template, assigns %>
      </main>

    </div> <!-- /container -->
  </body>
</html>
