<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <% title = Application.get_env(:share, :title) %>
    <% url = Application.get_env(:share, :url) %>
    <title><%= title %></title>
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="<%= title %>" />
    <meta property="og:url" content="<%= url %>" />
    <meta property="og:title" content="<%= title %>" />
    <meta property="og:description" content="<%= Application.get_env(:share, :description) %>">
    <meta property="og:image" content="<%= url %><%= static_path(@conn, "/images/site.png") %>" />

    <meta property="fb:app_id" content="938652226234734" />

    <meta name="twitter:card" content="summary" />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.2/semantic.min.css"></link>
  </head>
  <script>
    window.source = {
      title: "<%= Application.get_env(:share, :source)[:title] %>",
      url: "<%= Application.get_env(:share, :source)[:url] %>"
    }
    window.api = {
      title: "<%= Application.get_env(:share, :api)[:title] %>",
      url: "<%= Application.get_env(:share, :api)[:url] %>"
    }
    window.admin = {
      name: "<%= Application.get_env(:share, :admin)[:name] %>",
      url: "<%= Application.get_env(:share, :admin)[:url] %>"
    }
  </script>
  <body>
    <%= render @view_module, @view_template, assigns %>
  </body>
</html>
