<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-53QT9V8');</script>
    <!-- End Google Tag Manager -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <% site_name = Application.get_env(:share, :title) %>
    <% title = og(assigns, :title, site_name) %>
    <% description = og(assigns, :description, Application.get_env(:share, :description)) %>
    <% url = og(assigns, :url, Application.get_env(:share, :url)) %>
    <title><%= title %></title>
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="<%= site_name %>" />
    <meta property="og:url" content="<%= url %>" />
    <meta property="og:title" content="<%= title %>" />
    <meta property="og:description" content="<%= description %>">
    <meta property="og:image" content="<%= url %><%= static_path(@conn, "/images/site.png") %>" />

    <meta property="fb:app_id" content="938652226234734" />

    <meta name="twitter:card" content="summary" />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.2/semantic.min.css"></link>
  </head>
  <script>
    window.title = "<%= Application.get_env(:share, :title) %>"
    window.source = {
      title: "<%= Application.get_env(:share, :source)[:title] %>",
      url: "<%= Application.get_env(:share, :source)[:url] %>"
    }
    window.api = {
      title: "<%= Application.get_env(:share, :api)[:title] %>",
      url: "<%= Application.get_env(:share, :api)[:url] %>"
    }
    window.admin = {
      name: "<%= Application.get_env(:share, :admin)[:name] %>",
      url: "<%= Application.get_env(:share, :admin)[:url] %>"
    }
  </script>
  <body>
 <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-53QT9V8"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
    <%= render @view_module, @view_template, assigns %>
  </body>
</html>
