.alert {
  padding: 10px;
  color: white;
}
.alert:empty { display: none; }
.alert-info {
  background-color: grey;
}
.alert-danger {
  background-color: red;
}

pre {
  overflow: auto;
  word-wrap: normal;
  white-space: pre-wrap;
  font-size: 1.1em;
}

a {
  font-size: 1em;
}
button.link {
  border: none;
  background: none;
  text-decoration: underline;
  cursor: pointer;
  padding: 0px;
  font-size: 1em;
}

textarea {
  font-size: 1.1em;
  width: 100%;
  margin: 0px 0px;
}

button {
  margin: 0px 3px;
}

button.reload {
  margin: 5px 3px;
  color: black;
  background: none;
  border: 2px solid black;
  display: inline-block;
}

button.submit {
  color: black;
  background: none;
  border: 2px solid black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
button.submit:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}
button.submit:hover {
  background: grey;
}
button.submit:active {
  background: black;
  color: white;
}

button.follow {
  background: white;
  border: 2px solid black;
}
button.follow > span:after {
  content: "Follow";
}
button.unfollow {
  border: 2px solid black;
  background: lightblue;
}
button.unfollow > span:after {
  content: "Following";
}
button.unfollow:hover {
  background: red;
}
button.unfollow:hover > span:after {
  content: "Unfollow";
}
