html, body {
  height: 100%;
}
#root {
  height: 100%;
}
textarea {
  font-size: 16px !important;
}
input {
  font-size: 16px !important;
}
pre {
  margin-bottom: 0px;
  overflow: auto;
  word-wrap: normal;
  white-space: pre-wrap;
  font-size: 1.1em;
  line-height: 18px;
  font-size: 16px;
  font-family: "ＭＳ Ｐゴシック", "MS PGothic", Mona, sans-serif;
}
img.mystery {
	object-fit: cover;
	width: 192px;
	height: 192px;
}
@media (min-width: 640px) {
	img.mystery {
		width: 512px;
		height: 512px;
	}
}

