html, body {
  height: 100%;
}
#root {
  height: 100%;
}
textarea {
  font-size: 16px !important;
}
input {
  font-size: 16px !important;
}
pre {
  margin-bottom: 0px;
  overflow: auto;
  word-wrap: normal;
  white-space: pre-wrap;
  font-size: 1.1em;
}
